{% extends 'user/base.html' %}

{% block title %}Suppliers Form{% endblock %}

{% block sidebar %} 
<div class="sidebar">
    <div class="sidebar-header text-center mb-4">
        <h3>SCM Dashboard</h3>
    </div>
    <a href="/user/dashboard" >Dashboard</a>
    <a href="/product/list" class="active">Product</a>
    <a href="/supplier/list" >Suppliers</a>
    <a href="/purchaseorder/list">Orders</a>
    <a href="/inventory">Inventory</a>
    <a href="reports">Reports</a>
    <a href="/grn-inward">Grn Inward</a>
</div>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2>{{ form.instance.pk|yesno:"Edit Product,Add Product" }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

{% endblock %}