{% extends 'user/base.html' %}

{% block title %}Purchase Orders{% endblock %}

{% block sidebar %} 
<div class="sidebar">
    <div class="sidebar-header text-center mb-4">
        <h3>Supply Chain Management</h3>
    </div>
    <a href="/user/dashboard" >Dashboard</a>
    <a href="/product/list" >Product</a>
    <a href="/supplier/list" >Suppliers</a>
    <a href="/purchaseorder/list" >Orders</a>
    <a href="/inventory" class="active">Inventory</a>
    <a href="/reports">Reports</a>
    <a href="/grn-inward">Grn Inward</a>
</div>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% include 'home/alert.html' %}



<h3>Auto Purchase Orders</h3>
<form method="POST" action="{% url 'auto_generate_purchase_orders' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Auto Generate Purchase Orders</button>
</form>
{% if out_of_range_products %}
    <h4>Out of Range Products</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Stock</th>
                <th>Min Stock Limit</th>
                <th>Max Stock Limit</th>
            </tr>
        </thead>
        <tbody>
            {% for product in out_of_range_products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.min_stock }}</td>
                <td>{{ product.max_stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if purchase_orders %}
    <h4>Generated Purchase Orders</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            {% for po in purchase_orders %}
            <tr>
                <td>{{ po.product_id }}</td>
                <td>{{ po.quantity }}</td>
                <td>{{ po.supplier_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}

<h4>Inventory MinMax Limits</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Stock</th>
            <th>Min Stock Limit</th>
            <th>Max Stock Limit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for inv in inventories %}

        <tr class=""> 
            <td>{{ inv.product.name }}</td>
            <td>{{ inv.product.stock_quantity }}</td>
            <td>{{ inv.min_stock }}</td>
            <td>{{ inv.max_stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
