{% extends 'user/base.html' %}

{% block title %}Purchase Orders{% endblock %}

{% block sidebar %} 
<div class="sidebar">
    <div class="sidebar-header text-center mb-4">
        <h3>Supply Chain Management</h3>
    </div>
    <a href="/user/dashboard" >Dashboard</a>
    <a href="/product/list" >Product</a>
    <a href="/supplier/list" >Suppliers</a>
    <a href="/purchaseorder/list" class="active" >Orders</a>
    <a href="/inventory" >Inventory</a>
    <a href="/reports">Reports</a>
    <a href="/grn-inward">Grn Inward</a>
</div>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% include 'home/alert.html' %}
        <h2>Purchase Orders</h2>
        <a href="{% url 'purchase_order_create' %}" class="btn btn-primary mb-3">Add Order</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Supplier</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Order Date</th>
                    <th>Delivery Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.supplier.name }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.order_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ order.delivery_date|date:"Y-m-d" }}</td>
                    <td>{% if order.status == 'Pending' %} 
                            <span class="badge badge-primary">Pending</span>
                        {% else %}
                            <span class="badge badge-success">Delivered</span>
                        {% endif %}
                    </td>
                    <td>
                       {% if order.status == 'Pending' %}
                        <a href="{% url 'purchase_order_update' order.pk %}" class="btn btn-info btn-sm">Edit</a>
                        <a href="{% url 'purchase_order_delete' order.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
